<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= form.label :title, "Título:"%>
    <%= form.text_field :title, id: :post_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :content, "Contenido:"%>
    <%= form.text_field :content, id: :post_content, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Crear Post", class: 'btn btn-primary' %>
  </div>
<% end %>
