<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-12 col-md-7 col-lg-7">
    <% if @posts.any? %>
    <h3 class="text-info">Posts</h3>
    <ul class="list-group list-group-flush">
      <% @posts.each do |post| %>
        <li class="list-group-item">
          <div class="d-flex justify-content-start">
            <p class="font-weight-bold"><%= post.title%></p>
          </div>
          <div class="d-flex justify-content-start">
            <%= post.content %>
          </div>
          <div class="">
            <%= link_to 'Show', post, class: 'btn btn-success btn-sm' %>
            <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-info btn-sm' %>
            <%= link_to 'Destroy', post, method: :delete, 
            data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </div>
        </li>
      <% end %>
    </ul>
    <% else %>
      <h4>No hay Post con el contenido <%= params[:query]%></h4>
    <% end %>
  </div>
    
  <div class="col-sm-12 col-md-5 col-lg-5">
    <h3 class="text-info">Nuevo Post:</h3>
    <%= render 'form', post: @new_post %>
  </div>
</div>

