<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<a href="<%= pages_about_path %>"> Ir a ABOUT </a>
<p>Con "link_to":</p>
<%= link_to "Ir a ABOUT", pages_about_path %> 

<% @products.each do |e| %>
  <h4><%= e %></h4>
<% end %>